@charset "UTF-8";
/* CSS Document */
/* 共通 */
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #231815;
  font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
  background: #fff;
  line-height: 1.5;
  /* letter-spacing: 0.05em; */
  /* -webkit-text-size-adjust: 100%; */
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/* SP用 */
header h1 {
  width: 45px;
  margin-left: 29px;
  padding: 10px 0;
}
/* TODO:ハンバーガーメニューの実装 */
header nav {
  display: none;
}
/* TODO:メインビジュアルはスライドショーにする */
/* TODO:画像のpictureタグ出し分け */
#top_main img {
  max-width: none;
  width: 100%;
}
article#about {
  background: url(../images/common/flag.svg) no-repeat 13% 49%/880px auto;
  padding: 136.5px 0 40px;
  position: relative;
}
article#about::after {
  content: '';
  background: rgba(205, 186, 127, 0.85);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
article#about .inner {
  position: relative;
  z-index: 1;
}
article#about h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
  margin: 0 auto 160px;
  height: 400px;
}
article#about h2 span {
  font-size: 30px;
  display: block;
  border-top: none;
  border-bottom: none;
  letter-spacing: 0.05em;
  position: relative;
  padding: 0 calc(8px + 11.5px) 0 8px;
}
article#about h2 span::before {
  content: '';
  width: 2px;
  height: 100%;
  display: inline-block;
  background-color: #231815;
  position: absolute;
  top: -16.5px;
  right: 11.5px;
}
article#about h2 span::after {
  content: '';
  width: 2px;
  height: 100%;
  display: inline-block;
  background-color: #231815;
  position: absolute;
  top: -16.5px;
  left: 0;
}
article#about p {
  padding: 0 28px;
  line-height: 1.678;
  margin-bottom: 1em;
}
article#about p:last-of-type {
  margin-bottom: 40px;
}
article#about .logo_img {
  text-align: center;
}
article#about .logo_img img {
  width: 61.39px;
  height: 100px;
  object-fit: contain;
}

article#products section {
  background: #d6c696;
}
article#contact {
  background: #cdba7f;
}
