@charset "UTF-8";
/* CSS Document */
/* 共通 */
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #231815;
  font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
  background: #fff;
  line-height: 1.5;
  /* letter-spacing: 0.05em; */
  /* -webkit-text-size-adjust: 100%; */
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/* SP用 */
.br_tab {
  display: none;
}
header h1 {
  width: 45px;
  margin-left: 29px;
  padding: 10px 0;
}
/* TODO:ハンバーガーメニューの実装 */
header nav {
  display: none;
}
header nav ul li a {
  color: #855339;
}
/* TODO:メインビジュアルはスライドショーにする */
/* TODO:画像のpictureタグ出し分け */
#top_main img {
  max-width: none;
  width: 100%;
}
article#about {
  background: url(../images/common/flag.svg) no-repeat 13% 49%/880px auto;
  padding: 136.5px 0 40px;
  position: relative;
}
article#about::after {
  content: '';
  background: rgba(205, 186, 127, 0.85);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
article#about .inner {
  position: relative;
  z-index: 1;
}
article#about h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
  margin: 0 auto 160px;
  height: 400px;
}
article#about h2 span {
  font-size: 30px;
  display: block;
  letter-spacing: 0.05em;
  position: relative;
  padding: 0 calc(8px + 11.5px) 0 8px;
}
article#about h2 span::before {
  content: '';
  width: 2px;
  height: 100%;
  display: inline-block;
  background-color: #231815;
  position: absolute;
  top: -16.5px;
  right: 11.5px;
}
article#about h2 span::after {
  content: '';
  width: 2px;
  height: 100%;
  display: inline-block;
  background-color: #231815;
  position: absolute;
  top: -16.5px;
  left: 0;
}
article#about p {
  width: 85.066vw;
  line-height: 1.678;
  margin: 0 auto 1em;
}
article#about p:last-of-type {
  margin-bottom: 40px;
}
article#about .logo_img {
  text-align: center;
}
article#about .logo_img img {
  width: 16.37vw;
  height: 26.666vw;
  object-fit: contain;
}
article#products {
  padding: 53px 0 90px;
  background-image: -webkit-image-set(
    url(../images/products/bg_chocolate_sp@856.jpg) 1x,
    url(../images/products/bg_chocolate_sp@856.jpg) 2x,
    url(../images/products/bg_chocolate_sp@1284.jpg) 3x
  );
  background-image: image-set(
    url(../images/products/bg_chocolate_sp@856.jpg) 1x,
    url(../images/products/bg_chocolate_sp@856.jpg) 2x,
    url(../images/products/bg_chocolate_sp@1284.jpg) 3x
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
article#products .inner {
  width: 85.333vw;
  margin: 0 auto;
}
article#products h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
article#products h2 span {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}
article#products h2 + p {
  color: #fff;
  margin-bottom: 93px;
}
article#products section {
  background: rgba(205, 186, 127, 0.8);
  margin-bottom: 126px;
  padding: 52.5px 0;
}
article#products section:first-of-type {
  transform: skewY(8deg);
}
article#products section:first-of-type > .inner {
  transform: skewY(-8deg);
}
article#products section:nth-of-type(2) {
  transform: skewY(-8deg);
  margin-bottom: 0;
}
article#products section:nth-of-type(2) > .inner {
  transform: skewY(8deg);
}
article#products section .product_img {
  width: 74.666vw;
  height: 74.666vw;
  margin: 0 auto;
  margin-bottom: 20px;
}
article#products section img {
  object-fit: contain;
}
article#products section h3 {
  font-size: 20px;
  color: #8f1c18;
  font-weight: bold;
  margin-bottom: 30px;
}
article#products section p {
  margin-bottom: 18px;
}
article#products section dl {
  margin-bottom: 48px;
}
article#products section dl dd {
  margin-bottom: 37px;
}
article#products section a {
  display: block;
  background-color: #641311;
  color: #fff;
  text-align: center;
  width: 74.4vw;
  margin: 0 auto;
  font-weight: bold;
  padding: 17px 0;
}
article#how_to {
  padding: 120px 0;
  background-image: url(../images/common/frame_top_left.svg), url(../images/common/frame_top_right.svg),
    url(../images/common/frame_bottom_left.svg), url(../images/common/frame_bottom_right.svg);
  background-position: left 0 top 0, right 0 top 0, left 0 bottom 0, right 0 bottom 0;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 20.317vw auto, 20.317vw auto, 20.317vw auto, 20.317vw auto;
}
article#how_to .inner {
  width: 85.066vw;
  margin: 0 auto;
}
article#how_to h2 {
  color: #855339;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
article#how_to h2 span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 14px;
}
article#how_to h2 ~ p {
  color: #855339;
}
article#how_to h2 ~ p:last-of-type {
  margin-bottom: 80.5px;
}
article#how_to section {
  margin-bottom: 80.5px;
}
article#how_to section:last-of-type {
  margin-bottom: 0;
}
article#how_to section .how_to_img {
  width: 66.666vw;
  margin: 0 auto 60px;
  position: relative;
  z-index: 0;
}
article#how_to section:nth-of-type(2n + 1) .how_to_img::after {
  background-color: #8f1c18;
  opacity: 0.85;
}
article#how_to section:nth-of-type(2n) .how_to_img::after {
  background-color: #e3625d;
  opacity: 0.5;
}
article#how_to section .how_to_img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: aqua;
  top: 20px;
  left: 20px;
  z-index: -1;
}
article#how_to section .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
article#how_to section h3 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 20px;
  font-weight: bold;
  color: #8f1c18;
  border: 2px solid #8f1c18;
  border-top: none;
  border-bottom: none;
  padding: 10px 7.5px;
  letter-spacing: 0.43em;
  margin-left: 18.5px;
  position: relative;
}
article#how_to section:first-of-type h3 {
  height: 8.5em;
}
article#how_to section:nth-of-type(2) h3 {
  height: 15.5em;
}
article#how_to section:nth-of-type(3) h3 {
  height: 11.5em;
}
article#how_to section:last-of-type h3 {
  height: 12.5em;
}
article#how_to section p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 345px;
}
article#contact {
  padding: 80px 0 0;
  position: relative;
}
article#contact::after {
  content: '';
  background: rgba(205, 186, 127, 0.85);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
article#contact .inner {
  width: 85.066vw;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 43px 0 0;
}
article#contact > .inner {
  background: #cdba7f;
  padding-bottom: 14px;
  margin-bottom: 55px;
}
article#contact .outer .inner {
  padding: 6px 0 105px;
  background: none;
}
article#contact .outer {
  background-image: url(../images/common/flag.svg);
  background-repeat: no-repeat;
  background-position: center 17%;
  background-size: 228% auto;
}
article#contact h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}
article#contact h2 span {
  font-size: 14px;
  display: block;
  margin-bottom: 9px;
}
article#contact form {
  width: 72.24vw;
  margin: 0 auto;
}
article#contact form dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
article#contact form dl dt {
  font-weight: bold;
  width: 100%;
}
article#contact form dl dt.required::after {
  content: '※必須';
  color: #be2720;
  padding-left: 1em;
}
article#contact form dl dt {
  margin-bottom: 6px;
}
article#contact form dl dd {
  width: 100%;
  margin-bottom: 20px;
}
article#contact form dl dd:last-of-type {
  margin-bottom: 40px;
}
article#contact form dl dt.inquiry_overview_title + dd {
  margin-bottom: 0;
}
article#contact form dl dd input[type='text'],
article#contact form dl dd input[type='email'],
article#contact form dl dd textarea {
  width: 100%;
  height: 30px;
  border: none;
}
article#contact form dl dd.post_code1 {
  width: 30%;
}
article#contact form dl .post_code_hyphen {
  width: 10%;
  text-align: center;
}
article#contact form dl dd.post_code2 {
  width: 60%;
}
article#contact form dl dd textarea {
  height: 200px;
}
article#contact form input[type='submit'] {
  width: 37.066vw;
  background: #641311;
  color: #fff;
  line-height: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  font-weight: bold;
}
article#contact h3 + p {
  font-size: 12px;
}
footer {
  text-align: center;
}
footer .inner {
  background-image: url(../images/common/frame_top_left.svg), url(../images/common/frame_top_right.svg),
    url(../images/common/frame_bottom_left.svg), url(../images/common/frame_bottom_right.svg);
  background-position: left -10px top -10px, right -10px top -10px, left -10px bottom -10px, right -10px bottom -10px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 20.317vw auto, 20.317vw auto, 20.317vw auto, 20.317vw auto;
}
footer .footer_img {
  width: 12vw;
  margin: 0 auto;
  padding: 30px 0 49px;
}
footer small {
  font-size: 14px;
  color: #855339;
  padding-bottom: 5px;
}

/* TAB用 */
@media screen and (min-width: 600px) {
  .br_tab {
    display: inline;
  }
  article#about {
    background-position: -253% 44%;
    padding: 146px 0 80px;
  }
  article#about h2 {
    margin-bottom: 217px;
    height: 380px;
  }
  article#about h2 span {
    font-size: 25px;
    letter-spacing: 0.15em;
  }
  article#about .inner:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
    width: 80.208vw;
    height: 484px;
    margin: 0 auto;
  }
  article#about p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: auto;
    margin: 0 0 0 7.161vw;
  }
  article#about .logo_img {
    align-self: flex-end;
  }
  article#about .logo_img img {
    width: 7.993vw;
    height: 13.02vw;
    object-fit: contain;
  }
  article#products {
    padding: 80px 0 126px;
    background-image: url(../images/products/bg_chocolate_tab@1668.jpg);
  }
  article#products .inner {
    width: 79.947vw;
  }
  article#products section > .inner {
    width: 70.833vw;
  }
  article#products h2 {
    font-size: 25px;
    margin-bottom: 0;
  }
  article#products h2 span {
    font-size: 14px;
    margin-bottom: 2px;
  }
  article#products h2 + p {
    font-size: 18px;
    margin-bottom: 119px;
  }
  article#products section {
    margin-bottom: 166px;
    padding: 70px 0 85px;
  }
  article#products section:first-of-type {
    transform: skewY(6.795deg);
  }
  article#products section:first-of-type > .inner {
    transform: skewY(-6.795deg);
  }
  article#products section:nth-of-type(2) {
    transform: skewY(-6.795deg);
  }
  article#products section:nth-of-type(2) > .inner {
    transform: skewY(6.795deg);
  }
  article#products section .product_img {
    width: 52.083vw;
    height: 52.083vw;
    margin: 0 auto;
    margin-bottom: 63.5px;
  }
  article#products section h3 {
    margin-bottom: 38px;
    text-align: center;
  }
  article#products section p {
    margin-bottom: 38px;
  }
  article#products section a {
    width: 35.026vw;
  }
  article#how_to {
    padding: 88px 0 80px;
    background-position: left -30px top -30px, right -30px top -30px, left -30px bottom -30px, right -30px bottom -30px;
    background-size: 20.317vw auto, 20.317vw auto, 20.317vw auto, 20.317vw auto;
  }
  article#how_to .inner {
    width: 79.166vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article#how_to h2 {
    font-size: 25px;
    margin-bottom: 4px;
    width: 100%;
  }
  article#how_to h2 span {
    font-size: 14px;
    margin-bottom: 0;
  }
  article#how_to h2 ~ p {
    font-size: 18px;
  }
  article#how_to section .how_to_img {
    width: 32.553vw;
  }
  article#contact {
    padding-bottom: 80px;
    background-image: url(../images/common/flag.svg);
    background-repeat: no-repeat;
    background-position: center 200%;
    background-size: 120% auto;
  }
  article#contact > .inner {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  article#contact form {
    width: 71.354vw;
  }
  article#contact form dl dd:last-of-type {
    margin-bottom: 80px;
  }
  article#contact form dl dd.inquiry_overview {
    width: 35%;
  }
  article#contact form input[type='submit'] {
    width: 18.098vw;
  }
  article#contact .outer {
    background: none;
  }
  article#contact .outer .inner {
    background-color: #cdba7f;
    padding: 0 0 46.5px;
  }
  article#contact h3,
  article#contact h3 + p {
    width: 71.354vw;
    margin: 0 auto;
  }
  footer .inner {
    background-position: left -10px top -10px, right -10px top -10px, left -10px bottom -10px, right -10px bottom -10px;
    background-size: 11.718vw auto, 11.718vw auto, 11.718vw auto, 11.718vw auto;
  }
  footer .footer_img {
    width: 10.5vw;
    padding: 80px 0 93px;
  }
  footer small {
    line-height: 40px;
    padding: 0;
  }
}
/* PC用 */
@media screen and (min-width: 980px) {
  header {
    display: flex;
    height: 120px;
  }
  header nav {
    display: block;
  }
  header nav ul {
    display: flex;
    padding: 48px 0;
  }
}
